In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder_unfiltered.csv')
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [2]:
df.shape

(3313, 6)

In [8]:
df.year.describe()

count    3313.000000
mean     1980.293088
std        16.931879
min      1950.000000
25%      1967.000000
50%      1982.000000
75%      1996.000000
max      2007.000000
Name: year, dtype: float64

In [13]:
lower_limit = 0
lower_limit = lower_limit * 10e6

year = 1950 #between 1950 and 2007
print(lower_limit)

0.0

In [14]:
df_subset = df[
    (df["pop"]>lower_limit) & 
    (df["year"]==year)
    ]

In [15]:
df_subset

              country continent  year   lifeExp        pop     gdpPercap
72          Australia   Oceania  1950  69.02000    8267337  10031.121380
128           Austria    Europe  1950  64.88000    6935100   5733.098114
251           Belgium    Europe  1950  66.35000    8639369   7990.465840
308            Belize  Americas  1950  57.67300      65797   1731.132728
395          Bulgaria    Europe  1950  61.39000    7250500   2131.563149
500            Canada  Americas  1950  68.28000   14011422  10581.265520
688        Costa Rica  Americas  1950  55.60000     866982   2439.821535
725              Cuba  Americas  1950  55.71400    5784797   5180.436272
746    Czech Republic    Europe  1950  64.43000    8925122   6690.749648
804           Denmark    Europe  1950  70.33000    4271000   9675.477458
986           Finland    Europe  1950  64.24000    4008900   5845.626316
1044           France    Europe  1950  66.39000   41828673   6595.926631
1144          Germany    Europe  1950  66.47296   68374572   6090.034207
1182           Greece    Europe  1950  65.70000    7566028   3293.034773
1286          Hungary    Europe  1950  62.07000    9338000   4726.191280
1343          Iceland    Europe  1950  71.01000     142938   7750.291535
1474            Italy    Europe  1950  65.77000   47105000   4461.067193
1542            Japan      Asia  1950  59.30000   83805000   2644.585447
1742            Libya    Africa  1950  42.72300     961305   2084.283473
1773       Luxembourg    Europe  1950  65.74720     295587  14554.956290
1921           Mexico  Americas  1950  49.60000   28485180   3293.777163
1942          Moldova    Europe  1950  58.40000    2336432   2752.304469
2031      Netherlands    Europe  1950  71.45000   10113527   8812.238998
2106      New Zealand   Oceania  1950  69.29000    1908310  11449.376300
2197           Norway    Europe  1950  71.60000    3265126   9427.920942
2389         Portugal    Europe  1950  58.53000    8442750   2961.890656
2447      Puerto Rico  Americas  1950  60.85000    2218000   2822.052814
2492           Russia       FSU  1950  57.30000  101936816   3674.952691
2603  Slovak Republic    Europe  1950  60.89000    3463446   4937.839017
2726            Spain    Europe  1950  61.87000   28062963   3280.315024
2784        Sri Lanka      Asia  1950  55.60000    7533097   1033.499006
2829           Sweden    Europe  1950  71.14000    7014005   8364.828768
2887      Switzerland    Europe  1950  68.94000    4694000  13867.607150
2957           Taiwan      Asia  1950  54.60000    7981454   1064.100714
3031         Thailand      Asia  1950  45.20000   20041628    712.398091
3107           Uganda    Africa  1950  40.00000    5521758    759.879814
3120          Ukraine       FSU  1950  62.60000   36774854   3601.453637
3148   United Kingdom    Europe  1950  69.03000   50127000   9766.503753
3161    United States  Americas  1950  68.12000  152271000  12922.234300